<a href="https://colab.research.google.com/github/mjalalimanesh/Statistical-Learning-ISLR-Python/blob/master/lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3.6  Lab: Linear Regression

### 3.6.1 Libraries

In [13]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

import statsmodels.api as sm
import statsmodels.formula.api as smf

plt.style.use('seaborn') # pretty matplotlib plots

Load Data

In [5]:
path = "https://raw.githubusercontent.com/mjalalimanesh/Statistical-Learning-ISLR-Python/master/datasets/Boston.csv"
boston = pd.read_csv(path, index_col=0)
boston.head()

      crim    zn  indus  chas    nox  ...  tax  ptratio   black  lstat  medv
1  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
2  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
3  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
4  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
5  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

### 3.6.2 Simple Linear Regression

#### Using scikit-learn

In [9]:
from sklearn import linear_model

# ols model with intercept
ols_sl = linear_model.LinearRegression(fit_intercept=True) 

x_train = np.asanyarray(boston['lstat']).reshape((-1, 1))
y_true = np.asanyarray(boston['medv'])
ols_sl.fit(x_train, y_true)

# summary
ols_sl.intercept_, ols_sl.coef_

(34.5538408793831, array([-0.95004935]))

In [12]:
# metrics
from sklearn.metrics import mean_squared_error

y_pred = ols_sl.predict(x_train)

ols_sl_summary = {'Ex. Var or R2_Score': ols_sl.score(x_train, y_true),
                  'MSE': mean_squared_error(y_true, y_pred)}

for k, v in ols_sl_summary.items():
    print(k, ':', v)

Ex. Var or R2_Score : 0.5441462975864797
MSE : 38.48296722989415

#### Using Statmodels

prints p-values, f-score, confidense intervals and ...

In [31]:
import statsmodels.api as sm

# predictor & dependent var
x_train = boston['lstat']
y_true = boston['medv']

# ols model with intercept added to predictor
ols_sm = sm.OLS(y_true, sm.add_constant(x_train)).fit()

# fitted model and summary
print(ols_sm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   medv   R-squared:                       0.544
Model:                            OLS   Adj. R-squared:                  0.543
Method:                 Least Squares   F-statistic:                     601.6
Date:                Thu, 24 Sep 2020   Prob (F-statistic):           5.08e-88
Time:                        07:52:07   Log-Likelihood:                -1641.5
No. Observations:                 506   AIC:                             3287.
Df Residuals:                     504   BIC:                             3295.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         34.5538      0.563     61.415      0.000      33.448      35.659
lstat         -0.9500      0.039    -24.528      0.000      -1.026      -0.874
==============================================================================
Omnibus:                      137.043   Durbin-Watson:                   0.892
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              291.373
Skew:                           1.453   Prob(JB):                     5.36e-64
Kurtosis:                       5.319   Cond. No.                         29.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [32]:
ols_sm.predict(sm.add_constant([5, 10, 15]))

array([29.80359411, 25.05334734, 20.30310057])

In [35]:
# prediction intervals
from statsmodels.sandbox.regression.predstd import wls_prediction_std
from collections import OrderedDict

y_pred = ols_sm_results.predict(sm.add_constant(x_train))
prstd, iv_l, iv_u = wls_prediction_std(ols_sm_results)

pred_dict = OrderedDict({'x_train': x_train,
                         'y_pred': y_pred, 
                         'y_true': y_true, 
                         'lwr': iv_l, 
                         'upr': iv_u, 
                         'pred_se': prstd})

pd.DataFrame(pred_dict)

     x_train     y_pred  y_true        lwr        upr   pred_se
1       4.98  29.822595    24.0  17.584603  42.060587  6.228994
2       9.14  25.870390    21.6  13.643413  38.097367  6.223387
3       4.03  30.725142    34.7  18.483488  42.966796  6.230858
4       2.94  31.760696    33.4  19.514315  44.007076  6.233264
5       5.33  29.490078    36.2  17.253328  41.726828  6.228362
..       ...        ...     ...        ...        ...       ...
502     9.67  25.366864    22.4  13.140702  37.593025  6.222972
503     9.08  25.927393    20.6  13.700315  38.154470  6.223438
504     5.64  29.195563    23.9  16.959864  41.431261  6.227826
505     6.48  28.397521    22.0  16.164444  40.630598  6.226492
506     7.88  27.067452    11.9  14.838003  39.296901  6.224646

[506 rows x 6 columns]